@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400,500,600,700|Raleway:300,400&display=swap');



* { box-sizing: border-box; }

body {
  background: linear-gradient(to right, #fff);
  font-family: 'Palanquin Dark', sans-serif;
}

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.hidden{visibility:hidden;
  width:0px!important;
  height:0px!important;
  margin:0px!important;
  padding:0px!important;
  }


/* ---- grid ---- */

.grid {
  width: 100%;
  margin: 50px auto 50px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer {
  width: 20%;
}

.gutter-sizer {
  width: 3%;
}

#filterGroup {
  width: 100%;
  margin: 40px auto;
  text-align: center;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left!important;
  width: 31%;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px #6e529d;
}

.grid-item img {
  width: 100%;
  height: auto;
}

.gi-inner-img img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  -o-object-position: center;
  object-fit: cover;
  object-position: center;
}

.grid-filter ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.grid-filter ul li {
    display: inline-block;
}

.grid-filter ul li a {
    color: #000000!important;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

.grid-filter ul li a.selected, .grid-filter ul li a:hover {
    color: #000000!important;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    text-decoration: underline;
}

.grid-item-inner {
    display: flex;
    flex-direction: column;
}

.gi-inner-content {
    padding: 20px;
}

.gi-inner-content h3 {
  font-weight: 900;
  color: #2d4950;
}

.gi-inner-content p {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.item-date {
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: none;
}

.inner-author img {
    height: 50px!important;
    min-height: unset!important;
    width: 50px!important;
    -o-object-fit: unset!important;
    -o-object-position: unset!important;
    object-fit: unset!important;
    object-position: unset!important;
    vertical-align: bottom;
    margin-right: 10px;
}

@media only screen and (max-width: 991px) {
    .grid-item {
        width: 48%!important;
    }
}

@media only screen and (max-width: 767px) {
    .grid-item {
        float: left;
        width: 100%!important;
    }
    .grid .grid-item-inner {
        flex-direction: column!important;
    }
    .gi-inner-img img {
        width: 100%;
        width: 100%;
        height: auto;
        min-height: 200px!important;
        -o-object-fit: cover;
        -o-object-position: center;
        object-fit: cover;
        object-position: center;
    }
    .grid {
        width: 99%;
        min-height: 200px!important;
    }
}